<?xml version="1.0"?>
<!--
  system configuration at Tue Oct 18 15:17:46 2011
 -->
<configuration>
  <uhttpd>
    <uhttpd>
      <main>
        <listen_http>0.0.0.0:80</listen_http>
        <listen_https>0.0.0.0:443</listen_https>
        <home>/www</home>
        <rfc1918_filter>1</rfc1918_filter>
        <cert>/etc/uhttpd.crt</cert>
        <key>/etc/uhttpd.key</key>
        <cgi_prefix>/cgi-bin</cgi_prefix>
        <script_timeout>60</script_timeout>
        <network_timeout>30</network_timeout>
        <tcp_keepalive>1</tcp_keepalive>
      </main>
      </uhttpd>
    <cert>
      <px5g>
        <days>730</days>
        <bits>1024</bits>
        <country>DE</country>
        <state>Berlin</state>
        <location>Berlin</location>
        <commonname>OpenWrt</commonname>
      </px5g>
   </cert>
  </uhttpd>
  <dhcp>
    <dnsmasq>
        <domainneeded>1</domainneeded>
        <boguspriv>1</boguspriv>
        <filterwin2k>0</filterwin2k>
        <localise_queries>1</localise_queries>
        <rebind_protection>1</rebind_protection>
        <rebind_localhost>1</rebind_localhost>
        <local>/lan/</local>
        <domain>lan</domain>
        <expandhosts>1</expandhosts>
        <nonegcache>0</nonegcache>
        <authoritative>1</authoritative>
        <readethers>1</readethers>
        <leasefile>/tmp/dhcp.leases</leasefile>
        <resolvfile>/tmp/resolv.conf.auto</resolvfile>
    </dnsmasq>
    <dhcp>
      <lan>
        <interface>lan</interface>
        <start>100</start>
        <limit>150</limit>
        <leasetime>12h</leasetime>
      </lan>
      <wan>
        <interface>wan</interface>
        <ignore>1</ignore>
      </wan>
   </dhcp>
  </dhcp>
  <firewall>
    <defaults>
        <syn_flood>1</syn_flood>
        <input>ACCEPT</input>
        <output>ACCEPT</output>
        <forward>REJECT</forward>
    </defaults>
    <zone>
        <name>lan</name>
        <network>lan</network>
        <input>ACCEPT</input>
        <output>ACCEPT</output>
        <forward>REJECT</forward>
    </zone>
    <zone>
        <name>wan</name>
        <network>wan</network>
        <input>REJECT</input>
        <output>ACCEPT</output>
        <forward>REJECT</forward>
        <masq>1</masq>
        <mtu_fix>1</mtu_fix>
    </zone>
    <forwarding>
        <src>lan</src>
        <dest>wan</dest>
    </forwarding>
    <rule>
        <src>wan</src>
        <proto>udp</proto>
        <dest_port>68</dest_port>
        <target>ACCEPT</target>
        <family>ipv4</family>
    </rule>
    <rule>
        <src>wan</src>
        <proto>icmp</proto>
        <icmp_type>echo-request</icmp_type>
        <family>ipv4</family>
        <target>ACCEPT</target>
    </rule>
    <rule>
        <src>wan</src>
        <proto>icmp</proto>
        <icmp_type>echo-request</icmp_type>
        <icmp_type>destination-unreachable</icmp_type>
        <icmp_type>packet-too-big</icmp_type>
        <icmp_type>time-exceeded</icmp_type>
        <icmp_type>bad-header</icmp_type>
        <icmp_type>unknown-header-type</icmp_type>
        <icmp_type>router-solicitation</icmp_type>
        <icmp_type>neighbour-solicitation</icmp_type>
        <limit>1000/sec</limit>
        <family>ipv6</family>
        <target>ACCEPT</target>
    </rule>
    <rule>
        <src>wan</src>
        <dest>*</dest>
        <proto>icmp</proto>
        <icmp_type>echo-request</icmp_type>
        <icmp_type>destination-unreachable</icmp_type>
        <icmp_type>packet-too-big</icmp_type>
        <icmp_type>time-exceeded</icmp_type>
        <icmp_type>bad-header</icmp_type>
        <icmp_type>unknown-header-type</icmp_type>
        <limit>1000/sec</limit>
        <family>ipv6</family>
        <target>ACCEPT</target>
    </rule>
    <include>
        <path>/etc/firewall.user</path>
    </include>
  </firewall>
  <network>
    <interface>
      <loopback>
        <ifname>lo</ifname>
        <proto>static</proto>
        <ipaddr>127.0.0.1</ipaddr>
        <netmask>255.0.0.0</netmask>
      </loopback>
      <lan>
        <ifname>eth0</ifname>
        <proto>static</proto>
        <ipaddr>192.168.1.1</ipaddr>
        <netmask>255.255.255.0</netmask>
        <gateway>192.168.1.254</gateway>
        <dns>192.168.1.254</dns>
      </lan>
   </interface>
  </network>
  <wireless>
    <wifi-device>
      <wl0>
        <type>broadcom</type>
        <channel>5</channel>
      </wl0>
      </wifi-device>
    <wifi-iface>
        <device>wl0</device>
        <network>lan</network>
        <mode>ap</mode>
        <ssid>HiWiFi</ssid>
        <encryption>wep</encryption>
        <key>DEADBEEF</key>
    </wifi-iface>
  </wireless>
  <system>
    <system>
        <hostname>OpenWrt</hostname>
        <timezone>UTC</timezone>
    </system>
    <rdate>
        <interface>wan</interface>
    </rdate>
  </system>
  <timeserver>
    <timeserver>
        <hostname>ptbtime1.ptb.de</hostname>
    </timeserver>
    <timeserver>
        <hostname>time-a.nist.gov</hostname>
    </timeserver>
    <timeserver>
        <hostname>ntp.xs4all.nl</hostname>
    </timeserver>
    <timeserver>
        <hostname>ptbtime2.ptb.de</hostname>
    </timeserver>
    <timeserver>
        <hostname>time-b.nist.gov</hostname>
    </timeserver>
  </timeserver>
  <dropbear>
    <dropbear>
        <PasswordAuth>on</PasswordAuth>
        <RootPasswordAuth>on</RootPasswordAuth>
        <Port>22</Port>
    </dropbear>
  </dropbear>
</configuration>